S/__pycache__/
ST/__pycache__/
ST_TL/__pycache__/
S_ADA/__pycache__/
S_ADDA/__pycache__/
S_ADDA2/__pycache__/
ST_ADA/__pycache__/
ST_ADA2/__pycache__/
ST_ADDA2/__pycache__/
preprocess/__pycache__/
visualyze/__pycache__/
visualyze2/__pycache__/
clustering/__pycache__/

ipynb/input_predmap/
ipynb/output/
ipynb/output_predmap/

analysis/patch_class_ratio/

plot_miccai/output

S_ADDA/
S_ADDA2/